In [30]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
import plotly.express as px
import plotly.offline as py
import plotly.graph_objects as go
from bs4 import BeautifulSoup as soup
from datetime import date,time
from urllib.request import Request,urlopen
import warnings
warnings.filterwarnings("ignore")

from pandas_profiling import ProfileReport

In [27]:
#!pip install pandas_profiling

Requirement already satisfied: pandas_profiling in /usr/local/lib/python3.7/dist-packages (1.4.1)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.7/dist-packages (from pandas_profiling) (1.3.5)
Requirement already satisfied: jinja2>=2.8 in /usr/local/lib/python3.7/dist-packages (from pandas_profiling) (2.11.3)
Requirement already satisfied: matplotlib>=1.4 in /usr/local/lib/python3.7/dist-packages (from pandas_profiling) (3.2.2)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from pandas_profiling) (1.15.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.8->pandas_profiling) (2.0.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas_profiling) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas_profiling) (0.11.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas_profiling) (1.21.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas_profiling) (3.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas_profiling) (1.3.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->pandas_profiling) (2018.9)

#web scrapping

In [7]:
url = "https://www.worldometers.info/coronavirus/"
req = Request(url,headers={'User-Agent':"Mozilla/5.0"})

webpage = urlopen(req)
page_soup = soup(webpage,"html.parser")
page_soup

<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<title>COVID Live - Coronavirus Statistics - Worldometer</title>
<meta content="Live statistics and coronavirus news tracking the number of confirmed cases, recovered patients, tests, and death toll due to the COVID-19 coronavirus from Wuhan, China. Coronavirus counter with new cases, deaths, and number of tests per 1 Million population. Historical data and info. Daily charts, graphs, news and updates" name="description"/>
<link href="/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<link href="/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
<link href="/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
<link href="/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
<link href="/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
<link href="/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
<link href="/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
<link href="/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
<link href="/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
<link href="/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
<link href="/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
<link href="/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
<link href="/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
<link href="/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
<link href="/favicon/manifest.json" rel="manifest"/>
<meta content="#ffffff" name="msapplication-TileColor"/>
<meta content="/favicon/ms-icon-144x144.png" name="msapplication-TileImage"/>
<meta content="#ffffff" name="theme-color"/>
<meta content="http://www.worldometers.info/img/worldometers-fb.jpg" property="og:image">
<link href="/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/wm16.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/ie10-viewport-bug-workaround.js"></script>
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
<script class="init" type="text/javascript">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example2').dataTable( {
        "scrollCollapse": true,
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>
<script class="init" type="text/javascript">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#table3').dataTable( {
        "scrollCollapse": true,
				 "order": [[ 1, 'desc' ]],
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>
<script class="init" type="text/javascript">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example').dataTable( {
        "scrollCollapse": true,
		"searching": false,

		"sDom": '<"top">rt<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>
<script class="init" type="text/javascript">
$(document).ready(function() {
	$('#popbycountry').dataTable();
} );
	</script>
<script data-cfasync="false" type="text/javascript">
  var freestar = freestar || {};
  freestar.hitTime = Date.now();
  freestar.queue = freestar.queue || [];
  freestar.config = freestar.config || {};
  freestar.debug = window.location.search.indexOf('fsdebug') === -1 ? false : true;
  freestar.config.enabled_slots = [];
  !function(a,b){var c=b.getElementsByTagName("script")[0],d=b.createElement("script"),e="https://a.pub.network/worldometers-info";e+=freestar.debug?"/qa/pubfig.min.js":"/pubfig.min.js",d.async=!0,d.src=e,c.parentNode.insertBefore(d,c)}(window,document);
</script>
</link></meta></head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1438574-2', 'auto');
  ga('send', 'pageview');
</script>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1438574-30"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1438574-30');
</script>
<link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" rel="stylesheet" type="text/css">
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#8ec760",
      "text": "#ffffff"
    }
  },
  "theme": "classic",
  "content": {
    "href": "http://www.worldometers.info/policy/"
  }
})});
</script>
<style type="text/css">
    .style1 {
        color: #666666
    }
</style>
<div class="navbar navbar-default">
<div class="container">
<div class="navbar-header">
<div class="logo"><a class="navbar-brand" href="/"><img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/></a></div>
<button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>
<div class="navbar-collapse collapse" id="navbar-main">
<ul class="nav navbar-nav">
<li><a href="/coronavirus/"><span style="color:#FF9900; font-weight:bold">Coronavirus</span></a></li>
<li><a href="/population/">Population</a></li>
</ul>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div style="text-align:left; margin-bottom:10px">
<script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-slot="3287840995" style="display:inline-block;width:970px;height:90px"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="row"> <div class="col-md-8">
<div class="content-inner">
<style>
    .number-table {
        font-size: 20px;
        font-weight: bold
    }

    .number-table-main {
        font-size: 24px;
        font-weight: bold
    }
</style>
<script src="/js/highcharts.js"></script>
<style type="text/css">
    .source {}

    .style2 {
        color: #FF0000
    }

    .style4 {
        color: #FF0000;
        font-weight: bold;
    }

    .style6 {
        font-size: 12px;
        color: #bbb;
        font-weight: bold;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source11 {
        font-size: 12px;
        color: #bbb;
    }

    .source111 {}

    .source1111 {
        font-size: 12px;
        color: #bbb;
    }


    .new_badge {

        position: absolute;
        font-size: 12px;
        top: -5px;
        right: -26px;
        background-color: #8ACA2B;
        color: white;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        ;
    }

    .new_badge_link {

        background-color: #8ACA2B;
        color: white !important;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        ;
    }
</style>
<div class="label-counter" id="page-top">COVID-19 Coronavirus Pandemic</div>
<div style="font-size:13px; color:#999; margin-top:5px; text-align:center">Last updated: March 15, 2022, 10:03 GMT</div>
<div style="margin-top:20px; text-align:center; font-size:14px"><a class="new_badge_link" href="/coronavirus/weekly-trends/" style="display: inline-block; position:relative;">Weekly Trends</a> - <a href="/coronavirus/worldwide-graphs/">Graphs</a> - <a href="#countries">Countries</a> - <a href="#news">News</a></div>
<div id="maincounter-wrap" style="margin-top:15px">
<h1>Coronavirus Cases:</h1>
<div class="maincounter-number">
<span style="color:#aaa">460,356,089 </span>
</div>
</div>
<div style="text-align:center "><a href="#countries">view by country</a></div>
<div id="maincounter-wrap" style="margin-top:15px">
<h1>Deaths:</h1>
<div class="maincounter-number">
<span>6,068,950</span>
</div>
</div>
<div id="maincounter-wrap" style="margin-top:15px;">
<h1>Recovered:</h1>
<div class="maincounter-number" style="color:#8ACA2B ">
<span>393,762,412</span>
</div>
</div>
<div style="margin-top:50px;"></div>
<style>
    .panel_flip {
        position: relative;
        height: 100%;
    }

    .panel_front {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_back {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_flip.flip .panel_front {

        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .panel_flip.flip .panel_back {

        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }

    .collapse_button {

        position: absolute;
        right: 10px;
        pointer-events: none;
        color: #70757a !important;
        height: 24px;
        width: 24px;
        line-height: 24px;
    }

    .collapse_button svg {
        display: block;
        height: 100%;
        width: 100%;
        fill: currentColor;
    }

    .rotate_180 {

        transform: rotate(180deg);
    }

    .panel_clickable {

        cursor: pointer;
    }
</style>
<script>
    var do_not_slide = false;
    $(function() {

        $('.flip_cases_front').on('click', function() {


            $(this).parent().parent().addClass('flip');
        });

        $('.flip_cases_back').on('click', function() {


            $(this).parent().parent().removeClass('flip');
        });


        $('.collapse').on('show.bs.collapse', function(el) {


            var collapse_button = $(el.target).parent().find('.collapse_button');
            collapse_button.addClass('rotate_180');

            if (do_not_slide) {

                return;
            }

            do_not_slide = true;
            if ($(el.target).attr('id') == 'panel_active') {

                $('#panel_closed').collapse('show');
            } else {

                $('#panel_active').collapse('show');
            }

            do_not_slide = false;
        });

        $('.collapse').on('hide.bs.collapse', function(el) {

            var collapse_button = $(el.target).parent().find('.collapse_button');
            collapse_button.removeClass('rotate_180');


            if (do_not_slide) {

                return;
            }


            do_not_slide = true;
            if ($(el.target).attr('id') == 'panel_active') {

                $('#panel_closed').collapse('hide');
            } else {

                $('#panel_active').collapse('hide');
            }

            do_not_slide = false;

        });



    });
</script>
<div class="col-md-6">
<div class="panel panel-default">
<div aria-controls="panel_active" aria-expanded="false" class="panel_clickable panel-heading" data-toggle="collapse" href="#panel_active" style="text-align:center;position:relative;">
<span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
 Active Cases
</span>
<span class="collapse_button"><svg focusable="false" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
</svg></span>
</div>
<div class="collapse" id="panel_active">
<div class="panel-body" style="text-align:center;min-height:220px;">
<div class="panel_flip">
<div class="panel_front" style="width:100%;height:100%;">
<div class="number-table-main">60,524,727</div>
<div style="font-size:13.5px">Currently Infected Patients</div>
<div style="padding-top:20px;position:relative;text-align:center; ">
<div style="float:left; text-align:center">
<span class="number-table" style="color:#8080FF">60,459,279</span> (<strong>99.9</strong>%)
<div style="font-size:13px">in Mild Condition</div><br/>
</div>
<div style="float:right; text-align:center"><span class="number-table" style="color:red ">65,448</span> (<strong>0.1</strong>%)
<div style="font-size:13px">Serious or Critical</div><br/>
</div>
</div>
<a class="flip_cases_front" href="javascript: void(0);" style="clear: both;display: block;padding-top:20px;width:100%;">Show Graph</a>
</div>
<div class="panel_back" style="width:100%;height:100%;">
<div id="total-currently-infected-linear"></div>
<script type="text/javascript">
    Highcharts.setOptions({
        lang: {
            thousandsSep: ','
        }
    });

    var y_labels = ['0', '20,000', '40,000', '60,000', '140', '180', '200', '240'];
    Highcharts.chart('total-currently-infected-linear', {


        chart: {
            type: 'line',
            height: (9 / 16 * 100) + '%'
        },

        title: {
            text: null

        },

        /*subtitle: {
            text: '(Number of Infected People)'
        },*/

        xAxis: {

In [8]:
today = datetime.now()
yesterday_str = "%s %d,%d" %(date.today().strftime("%b"),today.day-1,today.year)
yesterday_str

'Mar 14,2022'

In [9]:
table = page_soup.findAll("table",{"id":"main_table_countries_yesterday"})

containers = table[0].findAll("tr",{"style":""})
title = containers[0]
del containers[0]
all_data = []
clean = True
for country in containers:
  country_data = []
  country_container = country.findAll("td")

  if country_container[1].text == "China":
    continue
  for i in range(1,len(country_container)):
    final_feature = country_container[i].text
    if clean :
      if i != 1 and i != len(country_container)-1:
        final_feature = final_feature.replace(",","")

        if final_feature.find('+') != -1:
          final_feature = final_feature.replace("+","")
          final_feature = float(final_feature)
        elif final_feature.find('-') != -1:
          final_feature = final_feature.replace("-","")
          final_feature = float(final_feature)*-1
      if final_feature == 'N/A':
        final_feature = 0
      elif final_feature == "" or final_feature == " " :
        final_feature = -1
    country_data.append(final_feature)
  all_data.append(country_data)

In [10]:
all_data

[['World',
  '459731878',
  1202564.0,
  '6067240',
  4052.0,
  '393190478',
  1500602.0,
  '60474160',
  '65368',
  '58979',
  '778.4',
  -1,
  -1,
  -1,
  'All',
  '\n',
  -1,
  -1,
  -1,
  -1,
  -1],
 ['USA',
  '81216268',
  17267.0,
  '991038 ',
  326.0,
  '56282006',
  202928.0,
  '23943224',
  '4090',
  '242948',
  '2965',
  '966788183',
  '2892023',
  '334294730 ',
  'North America',
  '4',
  '337',
  '0',
  '52',
  '1.0',
  '71,623'],
 ['India',
  '42996062',
  2568.0,
  '516005 ',
  98.0,
  '42446171',
  4722.0,
  '33886',
  '8944',
  '30646',
  '368',
  '779052383',
  '555271',
  '1403013575 ',
  'Asia',
  '33',
  '2719',
  '2',
  '2',
  '0.07',
  '24'],
 ['Brazil',
  '29382196',
  13420.0,
  '655326 ',
  187.0,
  '27838793',
  96469.0,
  '888077',
  '8318',
  '136584',
  '3046',
  '63776166',
  '296465',
  '215122061 ',
  'South America',
  '7',
  '328',
  '3',
  '62',
  '0.9',
  '4,128'],
 ['France',
  '23532997',
  18853.0,
  '140294 ',
  185.0,
  '22261297',
  97353.0,
  '1131406',
  '1855',
  '359181',
  '2141',
  '246629975',
  '3764280',
  '65518499 ',
  'Europe',
  '3',
  '467',
  '0',
  '288',
  '3',
  '17,268'],
 ['UK',
  '19700952',
  47181.0,
  '162873 ',
  45.0,
  '18378375',
  50086.0,
  '1159704',
  '253',
  '287644',
  '2378',
  '489876300',
  '7152434',
  '68490853 ',
  'Europe',
  '3',
  '421',
  '0',
  '689',
  '0.7',
  '16,932'],
 ['Russia',
  '17376241',
  41055.0,
  '361344 ',
  533.0,
  '15585650',
  105243.0,
  '1429247',
  '2300',
  '118982',
  '2474',
  '273400000',
  '1872082',
  '146040602 ',
  'Europe',
  '8',
  '404',
  '1',
  '281',
  '4',
  '9,787'],
 ['Germany',
  '17342351',
  101872.0,
  '126245 ',
  136.0,
  '13501400',
  151500.0,
  '3714706',
  '2494',
  '205872',
  '1499',
  '104701826',
  '1242924',
  '84238346 ',
  'Europe',
  '5',
  '667',
  '1',
  '1209',
  '2',
  '44,098'],
 ['Turkey',
  '14576069',
  24404.0,
  '96620 ',
  133.0,
  '14182892',
  38812.0,
  '296557',
  '975',
  '169730',
  '1125',
  '148835451',
  '1733102',
  '85878080 ',
  'Asia',
  '6',
  '889',
  '1',
  '284',
  '2',
  '3,453'],
 ['Italy',
  '13402905',
  28900.0,
  '156997 ',
  129.0,
  '12242669',
  25834.0,
  '1003239',
  '518',
  '222230',
  '2603',
  '192765493',
  '3196190',
  '60311024 ',
  'Europe',
  '4',
  '384',
  '0',
  '479',
  '2',
  '16,634'],
 ['Spain',
  '11223974',
  -1,
  '101135 ',
  -1,
  '10294394',
  -1,
  '828445',
  '689',
  '239903',
  '2162',
  '471036328',
  '10067999',
  '46785495 ',
  'Europe',
  '4',
  '463',
  '0',
  -1,
  -1,
  '17,707'],
 ['Argentina',
  '8976079',
  4647.0,
  '127257 ',
  70.0,
  '8783575',
  6875.0,
  '65247',
  '768',
  '195561',
  '2773',
  '34827206',
  '758777',
  '45899120 ',
  'South America',
  '5',
  '361',
  '1',
  '101',
  '2',
  '1,422'],
 ['Netherlands',
  '7214075',
  45892.0,
  '21713 ',
  6.0,
  '5652608',
  70343.0,
  '1539754',
  '150',
  '419443',
  '1262',
  '21107399',
  '1227233',
  '17199180 ',
  'Europe',
  '2',
  '792',
  '1',
  '2668',
  '0.3',
  '89,525'],
 ['Iran',
  '7126906',
  3813.0,
  '139063 ',
  114.0,
  '6785933',
  5984.0,
  '201910',
  '2871',
  '83049',
  '1620',
  '48179304',
  '561426',
  '85815922 ',
  'Asia',
  '12',
  '617',
  '2',
  '44',
  '1',
  '2,353'],
 ['S. Korea',
  '6866222',
  309769.0,
  '10595 ',
  200.0,
  0,
  0,
  0,
  '1158',
  '133730',
  '206',
  '15804065',
  '307807',
  '51344026 ',
  'Asia',
  '7',
  '4846',
  '3',
  '6033',
  '4',
  '114,640'],
 ['Vietnam',
  '6377438',
  161262.0,
  '41477 ',
  92.0,
  '3271978',
  108407.0,
  '3063983',
  '4230',
  '64533',
  '420',
  '81738760',
  '827115',
  '98823902 ',
  'Asia',
  '15',
  '2383',
  '1',
  '1632',
  '0.9',
  '31,004'],
 ['Colombia',
  '6077288',
  469.0,
  '139315 ',
  18.0,
  '5909169',
  776.0,
  '28804',
  '342',
  '117316',
  '2689',
  '33540156',
  '647461',
  '51802613 ',
  'South America',
  '9',
  '372',
  '2',
  '9',
  '0.3',
  '556'],
 ['Indonesia',
  '5900124',
  9629.0,
  '152437 ',
  271.0,
  '5434729',
  39296.0,
  '312958',
  '2771',
  '21191',
  '547',
  '89276639',
  '320645',
  '278428553 ',
  'Asia',
  '47',
  '1827',
  '3',
  '35',
  '1.0',
  '1,124'],
 ['Poland',
  '5823977',
  5293.0,
  '113444 ',
  1.0,
  '5190096',
  11864.0,
  '520437',
  '486',
  '154170',
  '3003',
  '34594957',
  '915785',
  '37776302 ',
  'Europe',
  '6',
  '333',
  '1',
  '140',
  '0.03',
  '13,777'],
 ['Japan',
  '5772396',
  52002.0,
  '26154 ',
  125.0,
  '5167777',
  59971.0,
  '578465',
  '1175',
  '45878',
  '208',
  '41031108',
  '326110',
  '125819733 ',
  'Asia',
  '22',
  '4811',
  '3',
  '413',
  '1.0',
  '4,598'],
 ['Mexico',
  '5606827',
  1191.0,
  '321103 ',
  49.0,
  '4897155',
  3053.0,
  '388569',
  '4798',
  '42725',
  '2447',
  '15351490',
  '116982',
  '131229978 ',
  'North America',
  '23',
  '409',
  '9',
  '9',
  '0.4',
  '2,961'],
 ['Ukraine',
  '4906408',
  2256.0,
  '107184 ',
  34.0,
  0,
  0,
  0,
  '177',
  '113343',
  '2476',
  '19521252',
  '450961',
  '43288113 ',
  'Europe',
  '9',
  '404',
  '2',
  '52',
  '0.8',
  '17,123'],
 ['Malaysia',
  '3845601',
  22030.0,
  '33899 ',
  92.0,
  '3502760',
  33872.0,
  '308942',
  '388',
  '116290',
  '1025',
  '52420694',
  '1585183',
  '33069172 ',
  'Asia',
  '9',
  '976',
  '1',
  '666',
  '3',
  '9,342'],
 ['Israel',
  '3725414',
  5970.0,
  '10392 ',
  13.0,
  '3675110',
  7664.0,
  '39912',
  '352',
  '399465',
  '1114',
  '41373364',
  '4436346',
  '9326000 ',
  'Asia',
  '3',
  '897',
  '0',
  '640',
  '1',
  '4,280'],
 ['South Africa',
  '3695175',
  671.0,
  '99725 ',
  -1,
  '3577338',
  900.0,
  '18112',
  '546',
  '61000',
  '1646',
  '23424639',
  '386694',
  '60576674 ',
  'Africa',
  '16',
  '607',
  '3',
  '11',
  -1,
  '299'],
 ['Czechia',
  '3686008',
  2745.0,
  '39196 ',
  24.0,
  '3580823',
  8055.0,
  '65989',
  '110',
  '343118',
  '3649',
  '53085082',
  '4941512',
  '10742680 ',
  'Europe',
  '3',
  '274',
  '0',
  '256',
  '2',
  '6,143'],
 ['Philippines',
  '3671293',
  554.0,
  '57625 ',
  15.0,
  '3567412',
  820.0,
  '46256',
  '289',
  '32764',
  '514',
  '28545001',
  '254743',
  '112054161 ',
  'Asia',
  '31',
  '1945',
  '4',
  '5',
  '0.1',
  '413'],
 ['Belgium',
  '3654667',
  6545.0,
  '30434 ',
  13.0,
  '3375431',
  19616.0,
  '248802',
  '185',
  '313029',
  '2607',
  '32112055',
  '2750456',
  '11675174 ',
  'Europe',
  '3',
  '384',
  '0',
  '561',
  '1',
  '21,310'],
 ['Australia',
  '3622884',
  26418.0,
  '5591 ',
  5.0,
  '3346229',
  22980.0,
  '271064',
  '110',
  '139333',
  '215',
  '64674332',
  '2487321',
  '26001605 ',
  'Australia/Oceania',
  '7',
  '4651',
  '0',
  '1016',
  '0.2',
  '10,425'],
 ['Peru',
  '3536842',
  346.0,
  '211579 ',
  33.0,
  0,
  0,
  0,
  '662',
  '104793',
  '6269',
  '27960358',
  '828439',
  '33750640 ',
  'South America',
  '10',
  '160',
  '1',
  '10',
  '1.0',
  '47,543'],
 ['Portugal',
  '3380263',
  -1,
  '21285 ',
  -1,
  '2876177',
  -1,
  '482801',
  '70',
  '333153',
  '2098',
  '37805639',
  '3726059',
  '10146280 ',
  'Europe',
  '3',
  '477',
  '0',
  -1,
  -1,
  '47,584'],
 ['Canada',
  '3367019',
  3201.0,
  '36936 ',
  52.0,
  '3218338',
  7500.0,
  '111745',
  '552',
  '87904',
  '964',
  '58735152',
  '1533420',
  '38303372 ',
  'North America',
  '11',
  '1037',
  '1',
  '84',
  '1',
  '2,917'],
 ['Chile',
  '3313242',
  11495.0,
  '44005 ',
  126.0,
  '2542510',
  39202.0,
  '726727',
  '938',
  '170834',
  '2269',
  '34161281',
  '1761391',
  '19394494 ',
  'South America',
  '6',
  '441',
  '1',
  '593',
  '6',
  '37,471'],
 ['Thailand',
  '3206955',
  22130.0,
  '23781 ',
  69.0,
  '2957288',
  23508.0,
  '225886',
  '687',
  '45750',
  '339',
  '17270775',
  '246384',
  '70097057 ',
  'Asia',
  '22',
  '2948',
  '4',
  '316',
  '1.0',
  '3,222'],
 ['Austria',
  '3188147',
  34220.0,
  '15221 ',
  14.0,
  '2784996',
  30639.0,
  '387930',
  '192',
  '350594',
  '1674',
  '166723590',
  '18334255',
  '9093557 ',
  'Europe',
  '3',
  '597',
  '0',
  '3763',
  '2',
  '42,660'],
 ['Switzerland',
  '3127483',
  9282.0,
  '13416 ',
  -1,
  '2542111',
  42020.0,
  '571956',
  '132',
  '356938',
  '1531',
  '19407324',
  '2214951',
  '8761967 ',
  'Europe',
  '3',
  '653',
  '0',
  '1059',
  -1,
  '65,277'],
 ['Denmark',
  '2816984',
  7534.0,
  '5196 ',
  21.0,
  '2628584',
  15687.0,
  '183204',
  '26',
  '483453',
  '892',
  '126307689',
  '21677029',
  '5826799 ',
  'Europe',
  '2',
  '1121',
  '0',
  '1293',
  '4',
  '31,442'],
 ['Romania',
  '2794081',
  2087.0,
  '64381 ',
  19.0,
  '2606660',
  -1,
  '123040',
  '551',
  '146902',
  '3385',
  '21562994',
  '1133700',
  '19020023 ',
  'Europe',
  '7',
  '295',
  '1',
  '110',
  '1.0',
  '6,469'],
 ['Greece',
  '2658296',
  22682.0,
  '26635 ',
  73.0,
  '2427867',
  15508.0,
  '203794',
  '364',
  '257171',
  '2577',
  '69271836',
  '6701543',
  '10336699 ',
  'Europe',
  '4',
  '388',
  '0',
  '2194',
  '7',
  '19,716'],
 ['Sweden',
  '2466577',
  -1,
  '17765 ',
  -1,
  '2385377',
  5833.0,
  '63435',
  '47',
  '241677',
  '1741',
  '18297871',
  '1792842',
  '10206072 ',
  'Europe',
  '4',
  '575',
  '1',
  -1,
  -1,
  '6,215'],
 ['Iraq',
  '2313370',
  657.0,
  '25105 ',
  6.0,
  '2267423',
  1289.0,
  '20842',
  '82',
  '55407',
  '601',
  '18161585',
  '434985',
  '41752183 ',
  'Asia',
  '18',
  '1663',
  '2',
  '16',
  '0.1',
  '499'],
 ['Bangladesh',
  '1949725',
  239.0,
  '29112 ',
  1.0,
  '1862808',
  1922.0,
  '57805',
  '1264',
  '11642',
  '174',
  '13651404',
  '81515',
  '167471912 ',
  'Asia',
  '86',
  '5753',
  '12',
  '1',
  '0.01',
  '345'],
 ['Serbia',
  '1942727',
  2211.0,
  '15604 ',
  17.0,
  '1884706',
  3701.0,
  '42417',
  '63',
  '223876',
  '1798',
  '8938391',
  '1030044',
  '8677676 ',
  'Europe',
  '4',
  '556',
  '1',
  '255',
  '2',
  '4,888'],
 ['Hungary',
  '1814362',
  -1,
  '44653 ',
  -1,
  '1650643',
  -1,
  '119066',
  '109',
  '188628',
  '4642',
  '10921558',
  '1135445',
  '9618744 ',
  'Europe',
  '5',
  '215',
  '1',
  -1,
  -1,
  '12,379'],
 ['Jordan',
  '1680179',
  4251.0,
  '13959 ',
  13.0,
  '1647266',
  12480.0,
  '18954',
  '694',
  '161946',
  '1345',
  '16499905',
  '1590366',
  '10374911 ',
  'Asia',
  '6',
  '743',
  '1',
  '410',
  '1',
  '1,827'],
 ['Georgia',
  '1635975',
  466.0,
  '16569 ',
  15.0,
  '1588829',
  2944.0,
  '30577',
  -1,
  '411444',
  '4167',
  '16079589',
  '4043980',
  '3976179 ',
  'Asia',
  '2',
  '240',
  '0',
  '117',
  '4',
  '7,690'],
 ['Slovakia',
  '1576486',
  3375.0,
  '18950 ',
  32.0,
  '1428004',
  4691.0,
  '129532',
  '217',
  '288516',
  '3468',
  '6614760',
  '1210579',
  '5464128 ',
  'Europe',
  '3',
  '288',
  '1',
  '618',
  '6',
  '23,706'],
 ['Pakistan',
  '1519154',
  462.0,
  '30309 ',
  2.0,
  '1470822',
  398.0,
  '18023',
  '577',
  '6658',
  '133',
  '26929016',
  '118025',
  '228162754 ',
  'Asia',
  '150',
  '7528',
  '8',
  '2',
  '0.01',
  '79'],
 ['Norway',
  '1357280',
  5397.0,
  '1753 ',
  -1,
  '88952',
  -1,
  '1266575',
  '30',
  '247087',
  '319',
  '9852076',
  '1793525',
  '5493136 ',
  'Europe',
  '4',
  '3134',
  '1',
  '982',
  -1,
  '230,574'],
 ['Ireland',
  '1353733',
  2100.0,
  '6624 ',
  13.0,
  '1241135',
  11558.0,
  '105974',
  '42',
  '269061',
  '1317',
  '11546772',
  '2294978',
  '5031321 ',
  'Europe',
  '4',
  '760',
  '0',
  '417',
  '3',
  '21,063'],
 ['Kazakhstan',
  '1304506',
  64.0,
  '13648 ',
  2.0,
  '1280904',
  211.0,
  '9954',
  '528',
  '68094',
  '712',
  '11575012',
  '604201',
  '19157563 ',
  'Asia',
  '15',
  '1404',
  '2',
  '3',
  '0.1',
  '520'],
 ['Morocco',
  '1162125',
  29.0,
  '16043 ',
  4.0,
  '1145338',
  108.0,
  '744',
  '293',
  '30865',
  '426',
  '11237010',
  '298440',
  '37652441 ',
  'Africa',
  '32',
  '2347',
  '3',
  '0.8',
  '0.1',
  '20'],
 ['Bulgaria',
  '1115132',
  2433.0,
  '36162 ',
  64.0,
  '882649',
  4892.0,
  '196321',
  '311',
  '162562',
  '5272',
  '9387770',
  '1368534',
  '6859728 ',
  'Europe',
  '6',
  '190',
  '1',
  '355',
  '9',
  '28,619'],
 ['Lebanon',
  '1085232',
  632.0,
  '10211 ',
  5.0,
  '1001833',
  12878.0,
  '73188',
  '186',
  '160215',
  '1507',
  '4795578',
  '707981',
  '6773601 ',
  'Asia',
  '6',
  '663',
  '1',
  '93',
  '0.7',
  '10,805'],
 ['Cuba',
  '1077405',
  620.0,
  '8503 ',
  -1,
  '1066150',
  453.0,
  '2752',
  '23',
  '95220',
  '751',
  '12920253',
  '1141881',
  '11314889 ',
  'North America',
  '11',
  '1331',
  '1',
  '55',
  -1,
  '243'],
 ['Croatia',
  '1073527',
  141.0,
  '15354 ',
  18.0,
  '1049676',
  1456.0,
  '8497',
  '51',
  '264264',
  '3780',
  '4583892',
  '1128391',
  '4062327 ',
  'Europe',
  '4',
  '265',
  '1',
  '35',
  '4',
  '2,092'],
 ['Tunisia',
  '1029596',
  -1,
  '28062 ',
  -1,
  '982422',
  -1,
  '19112',
  '108',
  '85598',
  '2333',
  '4473309',
  '371898',
  '12028338 ',
  'Africa',
  '12',
  '429',
  '3',
  -1,
  -1,
  '1,589'],
 ['Nepal',
  '977987',
  50.0,
  '11950 ',
  -1,
  '961218',
  148.0,
  '4819',
  '100',
  '32572',
  '398',
  '5487285',
  '182756',
  '30025194 ',
  'Asia',
  '31',
  '2513',
  '5',
  '2',
  -1,
  '160'],
 ['Lithuania',
  '964215',
  2256.0,
  '8650 ',
  14.0,
  '878528',
  2757.0,
  '77037',
  '68',
  '362777',
  '3254',
  '7894516',
  '2970240',
  '2657871 ',
  'Europe',
  '3',
  '307',
  '0',
  '849',
  '5',
  '28,984'],
 ['Singapore',
  '948478',
  9042.0,
  '1153 ',
  8.0,
  '908291',
  16069.0,
  '39034',
  '23',
  '159990',
  '194',
  '23315251',
  '3932823',
  '5928376 ',
  'Asia',
  '6',
  '5142',
  '0',
  '1525',
  '1',
  '6,584'],
 ['Belarus',
  '942334',
  1166.0,
  '6670 ',
  9.0,
  '928536',
  -1,
  '7128',
  -1,
  '99781',
  '706',
  '12646405',
  '1339087',
  '9444051 ',
  'Europe',
  '10',
  '1416',
  '1',
  '123',
  '1.0',
  '755'],
 ['Slovenia',
  '918762',
  906.0,
  '6415 ',
  5.0,
  '886415',
  670.0,
  '25932',
  '69',
  '441835',
  '3085',
  '2589339',
  '1245220',
  '2079423 ',
  'Europe',
  '2',
  '324',
  '1',
  '436',
  '2',
  '12,471'],
 ['Bolivia',
  '897489',
  104.0,
  '21473 ',
  -1,
  '808628',
  1462.0,
  '67388',
  '220',
  '75148',
  '1798',
  '2682016',
  '224568',
  '11943011 ',
  'South America',
  '13',
  '556',
  '4',
  '9',
  -1,
  '5,642'],
 ['UAE',
  '885703',
  296.0,
  '2302 ',
  -1,
  '850971',
  980.0,
  '32430',
  -1,
  '87754',
  '228',
  '142777188',
  '14146106',
  '10093038 ',
  'Asia',
  '11',
  '4384',
  '0',
  '29',
  -1,
  '3,213'],
 ['Uruguay',
  '865644',
  1268.0,
  '7103 ',
  8.0,
  '848967',
  1174.0,
  '9574',
  '70',
  '247741',
  '2033',
  '5823501',
  '1666644',
  '3494149 ',
  'South America',
  '4',
  '492',
  '1',
  '363',
  '2',
  '2,740'],
 ['Ecuador',
  '849386',
  -1,
  '35347 ',
  -1,
  0,
  0,
  0,
  '759',
  '46934',
  '1953',
  '2470170',
  '136494',
  '18097285 ',
  'South America',
  '21',
  '512',
  '7',
  -1,
  -1,
  '20,454'],
 ['Costa Rica',
  '825158',
  454.0,
  '8186 ',
  8.0,
  '733664',
  5463.0,
  '83308',
  '93',
  '159512',
  '1582',
  '3854668',
  '745150',
  '5173008 ',
  'North America',
  '6',
  '632',
  '1',
  '88',
  '2',
  '16,104'],
 ['Guatemala',
  '805393',
  363.0,
  '17159 ',
  6.0,
  '765305',
  2211.0,
  '22929',
  '5',
  '43588',
  '929',
  '4073203',
  '220443',
  '18477357 ',
  'North America',
  '23',
  '1077',
  '5',
  '20',
  '0.3',
  '1,241'],
 ['Azerbaijan',
  '790820',
  53.0,
  '9618 ',
  7.0,
  '779585',
  168.0,
  '1617',
  -1,
  '76822',
  '934',
  '6635319',
  '644571',
  '10294167 ',
  'Asia',
  '13',
  '1070',
  '2',
  '5',
  '0.7',
  '157'],
 ['Finland',
  '761110',
  26848.0,
  '2717 ',
  64.0,
  '46000',
  -1,
  '712393',
  '36',
  '137006',
  '489',
  '10136419',
  '1824633',
  '5555320 ',
  'Europe',
  '7',
  '2045',
  '1',
  '4833',
  '12',
  '128,236'],
 ['Panama',
  '759782',
  146.0,
  '8140 ',
  3.0,
  '749222',
  433.0,
  '2420',
  '16',
  '171511',
  '1838',
  '5596410',
  '1263320',
  '4429924 ',
  'North America',
  '6',
  '544',
  '1',
  '33',
  '0.7',
  '546'],
 ['Saudi Arabia',
  '748915',
  146.0,
  '9020 ',
  2.0,
  '731004',
  314.0,
  '8891',
  '272',
  '20959',
  '252',
  '41263565',
  '1154772',
  '35733098 ',
  'Asia',
  '48',
  '3962',
  '1',
  '4',
  '0.06',
  '249'],
 ['Latvia',
  '744433',
  2097.0,
  '5444 ',
  8.0,
  '644289',
  5420.0,
  '94700',
  '20',
  '402216',
  '2941',
  '6911407',
  '3734220',
  '1850830 ',
  'Europe',
  '2',
  '340',
  '0',
  '1133',
  '4',
  '51,166'],
 ['Hong Kong',
  '733785',
  26908.0,
  '4279 ',
  286.0,
  '13232',
  -1,
  '716274',
  '104',
  '96549',
  '563',
  '36260319',
  '4771009',
  '7600136 ',
  'Asia',
  '10',
  '1776',
  '0',
  '3540',
  '38',
  '94,245'],
 ['Sri Lanka',
  '656386',
  345.0,
  '16407 ',
  10.0,
  '618961',
  75.0,
  '21018',
  -1,
  '30437',
  '761',
  '6368159',
  '295293',
  '21565534 ',
  'Asia',
  '33',
  '1314',
  '3',
  '16',
  '0.5',
  '975'],
 ['Paraguay',
  '646054',
  171.0,
  '18548 ',
  10.0,
  '620832',
  502.0,
  '6674',
  '80',
  '88730',
  '2547',
  '2560033',
  '351600',
  '7281105 ',
  'South America',
  '11',
  '393',
  '3',
  '23',
  '1',
  '917'],
 ['Kuwait',
  '626114',
  316.0,
  '2552 ',
  1.0,
  '619672',
  486.0,
  '3890',
  '14',
  '143025',
  '583',
  '7763313',
  '1773395',
  '4377655 ',
  'Asia',
  '7',
  '1715',
  '1',
  '72',
  '0.2',
  '889'],
 ['Myanmar',
  '606227',
  880.0,
  '19411 ',
  2.0,
  '558736',
  926.0,
  '28080',
  -1,
  '11017',
  '353',
  '7398818',
  '134454',
  '55028441 ',
  'Asia',
  '91',
  '2835',
  '7',
  '16',
  '0.04',
  '510'],
 ['Palestine',
  '579923',
  326.0,
  '5321 ',
  8.0,
  '570740',
  1028.0,
  '3862',
  '58',
  '109370',
  '1004',
  '3078533',
  '580594',
  '5302386 ',
  'Asia',
  '9',
  '997',
  '2',
  '61',
  '2',
  '728'],
 ['Dominican Republic',
  '576641',
  -1,
  '4374 ',
  -1,
  '571897',
  -1,
  '370',
  '31',
  '52268',
  '396',
  '3167036',
  '287067',
  '11032393 ',
  'North America',
  '19',
  '2522',
  '3',
  -1,
  -1,
  '34'],
 ['Bahrain',
  '538794',
  1399.0,
  '1463 ',
  -1,
  '524784',
  2543.0,
  '12547',
  '7',
  '299040',
  '812',
  '9510028',
  '5278232',
  '1801745 ',
  'Asia',
  '3',
  '1232',
  '0',
  '776',
  -1,
  '6,964'],
 ['Estonia',
  '532089',
  925.0,
  '2359 ',
  6.0,
  '432394',
  1485.0,
  '97336',
  '19',
  '400655',
  '1776',
  '3177134',
  '2392334',
  '1328048 ',
  'Europe',
  '2',
  '563',
  '0',
  '697',
  '5',
  '73,293'],
 ['Venezuela',
  '518460',
  50.0,
  '5659 ',
  1.0,
  '509750',
  372.0,
  '3051',
  '230',
  '18321',
  '200',
  '3359014',
  '118696',
  '28299279 ',
  'South America',
  '55',
  '5001',
  '8',
  '2',
  '0.04',
  '108'],
 ['Moldova',
  '508235',
  241.0,
  '11350 ',
  4.0,
  '490993',
  712.0,
  '5892',
  '43',
  '126488',
  '2825',
  '3090567',
  '769169',
  '4018060 ',
  'Europe',
  '8',
  '354',
  '1',
  '60',
  '1.0',
  '1,466'],
 ['Libya',
  '500304',
  304.0,
  '6350 ',
  6.0,
  '483955',
  853.0,
  '9999',
  '121',
  '71170',
  '903',
  '2456132',
  '349392',
  '7029725 ',
  'Africa',
  '14',
  '1107',
  '3',
  '43',
  '0.9',
  '1,422'],
 ['Egypt',
  '495373',
  -1,
  '24277 ',
  -1,
  '424831',
  -1,
  '46265',
  '122',
  '4691',
  '230',
  '3693367',
  '34973',
  '105606213 ',
  'Africa',
  '213',
  '4350',
  '29',
  -1,
  -1,
  '438'],
 ['Ethiopia',
  '469222',
  38.0,
  '7486 ',
  -1,
  '421485',
  13.0,
  '40251',
  '53',
  '3917',
  '62',
  '4570795',
  '38157',
  '119789068 ',
  'Africa',
  '255',
  '16002',
  '26',
  '0.3',
  -1,
  '336'],
 ['Mongolia',
  '467003',
  92.0,
  '2177 ',
  -1,
  '313256',
  -1,
  '151570',
  '192',
  '138667',
  '646',
  '4030048',
  '1196643',
  '3367795 ',
  'Asia',
  '7',
  '1547',
  '1',
  '27',
  -1,
  '45,006'],
 ['Armenia',
  '422021',
  17.0,
  '8576 ',
  4.0,
  '408562',
  166.0,
  '4883',
  -1,
  '141969',
  '2885',
  '2936474',
  '987835',
  '2972637 ',
  'Asia',
  '7',
  '347',
  '1',
  '6',
  '1',
  '1,643'],
 ['Honduras',
  '416729',
  -1,
  '10834 ',
  -1,
  '131100',
  -1,
  '274795',
  '105',
  '40970',
  '1065',
  '1263329',
  '124201',
  '10171684 ',
  'North America',
  '24',
  '939',
  '8',

In [11]:
df = pd.DataFrame(all_data)
df.drop([15,16,17,14,19,20],inplace=True,axis=1)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,18
0,World,459731878,1202564.0,6067240,4052.0,393190478,1500602.0,60474160,65368,58979,778.4,-1,-1,-1,-1
1,USA,81216268,17267.0,991038,326.0,56282006,202928.0,23943224,4090,242948,2965,966788183,2892023,334294730,52
2,India,42996062,2568.0,516005,98.0,42446171,4722.0,33886,8944,30646,368,779052383,555271,1403013575,2
3,Brazil,29382196,13420.0,655326,187.0,27838793,96469.0,888077,8318,136584,3046,63776166,296465,215122061,62
4,France,23532997,18853.0,140294,185.0,22261297,97353.0,1131406,1855,359181,2141,246629975,3764280,65518499,288

In [12]:
column_lables = ["Country","Total_cases","New_cases","Total_deaths","New_deaths","Total_recovered","New_recovered","Active_cases","Serious/Critical","Total_cases/1M","Deaths/1M","Total_tests","Tests/1M","Population","Continent"]
df.columns = column_lables

In [13]:
df.head()

,Country,Total_cases,New_cases,Total_deaths,New_deaths,Total_recovered,New_recovered,Active_cases,Serious/Critical,Total_cases/1M,Deaths/1M,Total_tests,Tests/1M,Population,Continent
0,World,459731878,1202564.0,6067240,4052.0,393190478,1500602.0,60474160,65368,58979,778.4,-1,-1,-1,-1
1,USA,81216268,17267.0,991038,326.0,56282006,202928.0,23943224,4090,242948,2965,966788183,2892023,334294730,52
2,India,42996062,2568.0,516005,98.0,42446171,4722.0,33886,8944,30646,368,779052383,555271,1403013575,2
3,Brazil,29382196,13420.0,655326,187.0,27838793,96469.0,888077,8318,136584,3046,63776166,296465,215122061,62
4,France,23532997,18853.0,140294,185.0,22261297,97353.0,1131406,1855,359181,2141,246629975,3764280,65518499,288

In [14]:
df.drop(['Continent'],inplace=True,axis=1)

In [15]:
df.head()

,Country,Total_cases,New_cases,Total_deaths,New_deaths,Total_recovered,New_recovered,Active_cases,Serious/Critical,Total_cases/1M,Deaths/1M,Total_tests,Tests/1M,Population
0,World,459731878,1202564.0,6067240,4052.0,393190478,1500602.0,60474160,65368,58979,778.4,-1,-1,-1
1,USA,81216268,17267.0,991038,326.0,56282006,202928.0,23943224,4090,242948,2965,966788183,2892023,334294730
2,India,42996062,2568.0,516005,98.0,42446171,4722.0,33886,8944,30646,368,779052383,555271,1403013575
3,Brazil,29382196,13420.0,655326,187.0,27838793,96469.0,888077,8318,136584,3046,63776166,296465,215122061
4,France,23532997,18853.0,140294,185.0,22261297,97353.0,1131406,1855,359181,2141,246629975,3764280,65518499

In [16]:
for label in df.columns:
  if label != 'Country':
    df[label] = pd.to_numeric(df[label])

In [17]:
df.head()

,Country,Total_cases,New_cases,Total_deaths,New_deaths,Total_recovered,New_recovered,Active_cases,Serious/Critical,Total_cases/1M,Deaths/1M,Total_tests,Tests/1M,Population
0,World,459731878,1202564.0,6067240,4052.0,393190478,1500602.0,60474160,65368,58979.0,778.4,-1,-1,-1
1,USA,81216268,17267.0,991038,326.0,56282006,202928.0,23943224,4090,242948.0,2965.0,966788183,2892023,334294730
2,India,42996062,2568.0,516005,98.0,42446171,4722.0,33886,8944,30646.0,368.0,779052383,555271,1403013575
3,Brazil,29382196,13420.0,655326,187.0,27838793,96469.0,888077,8318,136584.0,3046.0,63776166,296465,215122061
4,France,23532997,18853.0,140294,185.0,22261297,97353.0,1131406,1855,359181.0,2141.0,246629975,3764280,65518499

In [18]:
df['%Inc_cases'] = df["New_cases"]/df["Total_cases"]*100
df['%Inc_deaths'] = df["New_deaths"]/df["Total_deaths"]*100
df['%Inc_recovered'] = df["New_recovered"]/df["Total_recovered"]*100

In [19]:
df.head()

,Country,Total_cases,New_cases,Total_deaths,New_deaths,Total_recovered,New_recovered,Active_cases,Serious/Critical,Total_cases/1M,Deaths/1M,Total_tests,Tests/1M,Population,%Inc_cases,%Inc_deaths,%Inc_recovered
0,World,459731878,1202564.0,6067240,4052.0,393190478,1500602.0,60474160,65368,58979.0,778.4,-1,-1,-1,0.261579,0.066785,0.381648
1,USA,81216268,17267.0,991038,326.0,56282006,202928.0,23943224,4090,242948.0,2965.0,966788183,2892023,334294730,0.021261,0.032895,0.360556
2,India,42996062,2568.0,516005,98.0,42446171,4722.0,33886,8944,30646.0,368.0,779052383,555271,1403013575,0.005973,0.018992,0.011125
3,Brazil,29382196,13420.0,655326,187.0,27838793,96469.0,888077,8318,136584.0,3046.0,63776166,296465,215122061,0.045674,0.028535,0.346527
4,France,23532997,18853.0,140294,185.0,22261297,97353.0,1131406,1855,359181.0,2141.0,246629975,3764280,65518499,0.080113,0.131866,0.437320

#EDA

In [20]:
cases = df[["Total_recovered","Active_cases","Total_deaths"]].loc[0]

In [ ]:
cases_df = pd.DataFrame(cases).reset_index()
cases_df.columns = ["Type","Total"]
cases_df

# New section

In [ ]:
cases_df["Percentage"] = np.round(100*cases_df['Total']/np.sum(cases_df["Total"]),2)
cases_df["Virus"] = ["COVID-19" for i in range(len(cases_df))]
cases_df

In [33]:
fig = px.bar(cases_df,x = "Virus",y="Percentage",color = "Type",hover_data=["Total"])

In [ ]:
fig

In [36]:
cases = df[["New_cases","New_deaths","New_recovered"]].loc[0]
cases_df = pd.DataFrame(cases).reset_index()
cases_df.columns = ["Type","Total"]
cases_df

            Type      Total
0      New_cases  1202564.0
1     New_deaths     4052.0
2  New_recovered  1500602.0

In [37]:
cases_df["Percentage"] = np.round(100*cases_df['Total']/np.sum(cases_df["Total"]),2)
cases_df["Virus"] = ["COVID-19" for i in range(len(cases_df))]
cases_df

            Type      Total  Percentage     Virus
0      New_cases  1202564.0       44.42  COVID-19
1     New_deaths     4052.0        0.15  COVID-19
2  New_recovered  1500602.0       55.43  COVID-19

In [39]:
fig = px.bar(cases_df,x = "Virus",y="Percentage",color = "Type",hover_data=["Total"])
fig.show()

In [46]:
per = np.round(df[["%Inc_cases","%Inc_deaths","%Inc_recovered"]].loc[0],2)
per_df = pd.DataFrame(per)
per_df.columns = ["Percentage"]
fig = go.Figure()
fig.add_trace(go.Bar(x= per_df.index,y=per_df['Percentage'],marker_color=['Yellow',"blue",'red']))

In [50]:
Country_df = df.drop([0])
Country_df

,Country,Total_cases,New_cases,Total_deaths,New_deaths,Total_recovered,New_recovered,Active_cases,Serious/Critical,Total_cases/1M,Deaths/1M,Total_tests,Tests/1M,Population,%Inc_cases,%Inc_deaths,%Inc_recovered
1,USA,81216268,17267.0,991038,326.0,56282006,202928.0,23943224,4090,242948.0,2965.0,966788183,2892023,334294730,0.021261,0.032895,0.360556
2,India,42996062,2568.0,516005,98.0,42446171,4722.0,33886,8944,30646.0,368.0,779052383,555271,1403013575,0.005973,0.018992,0.011125
3,Brazil,29382196,13420.0,655326,187.0,27838793,96469.0,888077,8318,136584.0,3046.0,63776166,296465,215122061,0.045674,0.028535,0.346527
4,France,23532997,18853.0,140294,185.0,22261297,97353.0,1131406,1855,359181.0,2141.0,246629975,3764280,65518499,0.080113,0.131866,0.437320
5,UK,19700952,47181.0,162873,45.0,18378375,50086.0,1159704,253,287644.0,2378.0,489876300,7152434,68490853,0.239486,0.027629,0.272527
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,Samoa,48,-1.0,-1,-1.0,28,-1.0,20,-1,239.0,-1.0,-1,-1,200650,-2.083333,100.000000,-3.571429
219,Vatican City,29,-1.0,-1,-1.0,28,-1.0,1,-1,36070.0,-1.0,-1,-1,804,-3.448276,100.000000,-3.571429
220,Western Sahara,10,-1.0,1,-1.0,8,-1.0,1,-1,16.0,2.0,-1,-1,622226,-10.000000,-100.000000,-12.500000
221,Niue,1,-1.0,-1,-1.0,-1,-1.0,1,-1,608.0,-1.0,-1,-1,1645,-100.000000,100.000000,100.000000
222,Total:,459731878,1202564.0,6067240,4052.0,393190478,1500602.0,60474160,65368,58979.3,778.4,-1,-1,-1,0.261579,0.066785,0.381648

In [66]:
LOOK_AT = 5
Country = Country_df.columns[1:14]
fig = go.Figure()
c = 0
for i in Country_df.index:
  if c<LOOK_AT:
    fig.add_trace(go.Bar(name = Country_df['Country'][i],x = Country,y=Country_df.loc[i][1:14]))
  else:
    break
  c += 1
fig.update_layout(title={"text":f'{LOOK_AT} Countries affected'},yaxis_type ='log')